*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    height: 100vh;
    background-color: rgb(66, 66, 66);
    display: flex;
}

.gameContainer
{
    width: 500px;
    height: 500px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.card
{
    width: 23%;
    height: 23%;
    margin: 5px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.35;
    cursor: pointer;
    background-color: transparent;
}

.card:active
{
    transform: scale(0.95);
    transition: transform 0.2s ease-in-out;
}

.card.flip
{
    transform: rotateY(180deg);
    cursor: pointer;
}

.front, .back
{
    background-color: #807f7f;
    width: 110px;
    height: 110px;
    padding: 10px;
    border-radius: 4px;
    position: absolute;
    backface-visibility: hidden;
}

.front
{
    transform: rotateY(180deg);
}

.counter
{
    padding: 10px;
    margin-right: 10px;
    margin-left: -25px;
    margin-top: 10px;
    background: blueviolet;
    display: flex;
    justify-content: right;
    align-items: center;
    min-height: 10vh;
    min-width: 100%;
    font-size: 44px;
    text-align: center;
    color: aliceblue;
}
